@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Proje Düzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.PortfolioID)
    @Html.Label("Proje Başlığı")
    @Html.TextBoxFor(x=>x.Name, new {@class = "form-control"})
    <br />
    <label>Görsel 1</label>
    @Html.TextBoxFor(x=>x.ImageUrl, new {@class = "form-control"})
    <br />
    <label>Görsel 2</label>
    @Html.TextBoxFor(x=>x.ImageUrl2, new {@class = "form-control"})
    <br />
    <label>Proje URL</label>
    @Html.TextBoxFor(x=>x.ProjectUrl, new {@class = "form-control"})
    <br />
    <label>Fiyat(Opsiyonel)</label>
    @Html.TextBoxFor(x=>x.Price, new {@class = "form-control"})
    <br />
    <label>Tamamlanma Oranı(Opsiyonel)</label>
    @Html.TextBoxFor(x=>x.Value, new {@class = "form-control"})
    <br />
    <br />
    <button class="btn btn-outline-info">Güncelle</button>
}

